OPENAI_API_KEY=
EMBEDDINGS_MODEL=
BASE_URL=

RAG_CHROMA_PERSIST_DIR=
RAG_HNSW_M=
RAG_HNSW_EF_CONSTRUCTION=
RAG_HNSW_EF_SEARCH=

RAG_CHUNK_SIZE=
RAG_CHUNK_OVERLAP=

SPARSE_RETRIEVER_WEIGHT=
DENSE_RETRIEVER_WEIGHT=

TO_INDEX_PATH=
INDEXED_PATH=

REDIS_PORT=
REDIS_HOST=
AGENT_QUERY_GENERATION_NUMBER=
AGENT_TOP_K=

RERANKER_MODEL=

AGENT_NEEDS_RAG_MODEL=
AGENT_QUERY_GENERATOR_MODEL=
AGENT_RETRIEVAL_EVALUATOR_MODEL=
AGENT_GENERATOR_MODEL=

ENVIRONMENT=
VERSION=